---
    const {
        planName, 
        price, 
        planTime, 
        description, 
        benefits, 
        freeTest, 
        buttonName,
        isPopular
    } = Astro.props
---
<div class="w-full max-w-[22rem] flex justify-between items-start flex-col bg-white/10 rounded-2xl p-8 text-[#aaa] shadow-inner shadow-white/20">
    <div class="w-full h-auto">
        <h1 class="text-4xl text-white font-semibold pb-4">{planName}</h1>
        <span class="w-full flex justify-start items-center gap-x-1 my-2">
            <h1 class="text-white text-2xl font-medium">{price}</h1>
            <h3>{planTime}</h3>
        </span>
        <h3 class="py-2 border-b-[1px] border-[#444]">{description}</h3>
        <div class="w-full">
            {
                benefits.map(benefit => (
                    <section class="flex justify-start items-center w-full border-b-[1px] border-[#444] gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21" fill="#aaa"/><path fill="#111" d="M34.6 14.6L21 28.2l-5.6-5.6l-2.8 2.8l8.4 8.4l16.4-16.4z"/></svg>
                        <h4 class="py-2">{benefit}</h4>
                    </section>       
                ))
            }
        </div>
        {
            freeTest!=null
            ? <h3 class="py-4 text-sm">Try <span class="py-1 px-2 font-medium border-[1px] border-[#444] rounded-3xl">Pro</span> for free with a 30-day trial</h3>
            : <></>
        }
    </div>
    <button class="bottom-0 mt-4 bg-white transition-all hover:scale-105 hover:bg-[#ddd] rounded-full py-2 px-4 text-black text-lg font-semibold">{buttonName}</button>
</div>